
job('ansible-users-db-dsl') {

    description('Update the html table based on input')

  
    parameters {
        choiceParam('AGE', ['20', '21', '22', '23', '24', '25'])
    }

    steps {

        wrappers {
            colorizeOutput(colorMap = 'xterm')
      }
        ansiblePlaybook('/var/jenkins_home/ansible/people.yml') {
            inventoryPath('/var/jenkins_home/ansible/hosts')
            colorizedOutput(true)
            extraVars {
                extraVar("PEOPLE_AGE", '${AGE}', false)
            }
        }
    }

}

