<?xml version="1.0" encoding="UTF-8"?><project>
    <actions/>
    <description>Maven dsl project</description>
    <keepDependencies>false</keepDependencies>
    <properties/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Maven>
            <targets>-B -DskipTests clean package</targets>
            <mavenName>jenkins-maven</mavenName>
            <jvmOptions/>
            <usePrivateRepository>false</usePrivateRepository>
            <injectBuildVariables>true</injectBuildVariables>
        </hudson.tasks.Maven>
        <hudson.tasks.Maven>
            <targets>test</targets>
            <mavenName>jenkins-maven</mavenName>
            <jvmOptions/>
            <usePrivateRepository>false</usePrivateRepository>
            <injectBuildVariables>true</injectBuildVariables>
        </hudson.tasks.Maven>
        <hudson.tasks.Shell>
            <command>
            echo ************RUNNING THE JAR************************     
            java -jar /var/jenkins_home/workspace/maven_dsl/target/my-app-1.0-SNAPSHOT.jar
        </command>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.tasks.ArtifactArchiver>
            <artifacts>target/*.jar</artifacts>
            <allowEmptyArchive>false</allowEmptyArchive>
            <defaultExcludes>true</defaultExcludes>
            <fingerprint>false</fingerprint>
            <onlyIfSuccessful>false</onlyIfSuccessful>
        </hudson.tasks.ArtifactArchiver>
        <hudson.tasks.junit.JUnitResultArchiver>
            <testResults>target/surefire-reports/*.xml</testResults>
            <keepLongStdio>false</keepLongStdio>
            <testDataPublishers/>
            <allowEmptyResults>false</allowEmptyResults>
            <healthScaleFactor>1.0</healthScaleFactor>
        </hudson.tasks.junit.JUnitResultArchiver>
        <hudson.tasks.Mailer>
            <recipients>ricardo.andre.gonzalez07@gmail.com</recipients>
            <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
            <sendToIndividuals>true</sendToIndividuals>
        </hudson.tasks.Mailer>
    </publishers>
    <buildWrappers/>
    <scm class="hudson.plugins.git.GitSCM">
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/jenkins-docs/simple-java-maven-app</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <extensions/>
    </scm>
</project>